@import "../style.css";

.characters__container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 240px);
	gap: 30px;
	font-family: var(--default-font);
	margin-top: 20px;
}

.characters__notFound {
	font-family: var(--default-font);
	font-size: 1.5rem;
	color: var(--lightGray-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* CARD */

.character__item {
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	background: var(--white-color);
	box-shadow: 0 0 10px var(--contrast-color);
}

.character__item:hover {
	box-shadow: 0 0 10px var(--black-color);
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.5s;
}

/* OVERLAY */

.character__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.character__overlay:hover {
	backdrop-filter: blur(3px);
	transition: 0.5s;
}

.character__button {
	opacity: 0;
	transition: opacity 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-weight: 600;
	background-color: var(--main-color);
	color: var(--white-color);
	width: 200px;
	height: 50px;
	border-radius: 20px;
}

.character__overlay:hover .character__button {
	opacity: 1;
}

/* IMAGE */

.character__item > img {
	width: 240px;
	height: 170px;
	object-fit: cover;
}

/* DETAILS */

.character__details {
	padding: 0.625rem;
}
.character__details h2 {
	font-size: 1rem;
	margin-bottom: 10px;
	font-weight: 600;
}
.character__details p {
	display: flex;
	font-size: 1rem;
	margin-bottom: 10px;
	align-items: center;
}

.character__details p:last-child {
	margin-top: 20px;
}

.character__statusIcon {
	display: flex;
	margin-right: 5px;
	width: 20px;
	height: auto;
}

@media (max-width: 834px) {
	.characters__container {
		grid-template-columns: repeat(2, 240px);
	}
}

@media (min-width: 1440px) {
	.characters__container {
		grid-template-columns: repeat(5, 240px);
	}
}
