/* GERAL */

@import url("https://fonts.googleapis.com/css2?family=Martian+Mono&family=Montserrat:wght@600&display=swap");

:root {
	--main-color: #252525;
	--lightGray-color: #575757;
	--contrast-color: rgb(82, 240, 82);
	--black-color: #000000;
	--white-color: #fff;
	--filter-color: #00b5cc;
	--default-font: "Martian Mono", monospace;
}

body {
	height: 100vh;
	box-sizing: border-box;
	background-color: var(--main-color);
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer {
	text-align: center;
	background-color: var(--filter-color);
	padding: 2.188rem 0;
}
